#!/usr/bin/env python
PACKAGE = "drv_tf"
from dynamic_reconfigure.parameter_generator_catkin import *

# name - a string which specifies the name under which this parameter should be stored
# type - defines the type of value stored, and can be any of int_t, double_t, str_t, or bool_t
# level - A bitmask which will later be passed to the dynamic reconfigure callback.
#         When the callback is called all of the level values for parameters that have been changed are ORed together and the resulting value is passed to the callback.
# description - string which describes the parameter
# default - specifies the default value
# min - specifies the min value (optional and does not apply to strings and bools)
# max - specifies the max value (optional and does not apply to strings and bools) 
gen = ParameterGenerator()
gen.add("camera_pitch_offset_cfg", double_t, 0, "Camera pitch offset", 90.0, 70.0, 110.0)

gen.add("base_to_root_x_cfg", double_t, 0, "X offset between NVG base and robot base, in robot base frame.", 0.0, -0.5, 0.5)
gen.add("base_to_root_y_cfg", double_t, 0, "Y offset between NVG base and robot base, in robot base frame.", 0.0, -0.5, 0.5)
gen.add("base_to_root_z_cfg", double_t, 0, "Distance between NVG base and robot base, in robot base frame.", 1.0, 0.5, 2.0)

exit(gen.generate(PACKAGE, "drv_tf", "tf"))