<launch>

  <arg name="ns" default="vision"/>
  <arg name="port" default="0"/>

  <include file="$(find drv_brain)/launch/includes/drv_host.launch.xml">
    <arg name="vision_namespace" value="$(arg ns)"/>
    <arg name="usb_port_num" value="$(arg port)"/>
    <arg name="use_openni2" value="true"/>
  </include>

</launch>